.active{
    border:1px solid grey;
    background-color: aqua;
}
.field{
    background-color: antiquewhite;
    border-collapse: collapse;
}
.cell{
    width:25px;
    height:25px;
    border:1px solid grey;
}